.dark-mode{
    color-scheme: dark;
    background: #282c3b!important;
}

.dark-mode .btn,
.dark-mode .page-item:not(.active) .page-link,
.dark-mode .list-header{
    background: #ffffff17;
    color: #d6d5df;
    box-shadow: none!important;
}

.dark-mode .form-control{
    color-scheme: dark;
    background: #ffffff17;
    color: #d6d5df;
    border-color: transparent;
}

.dark-mode .form-control:not(:focus){
    box-shadow: none;
}

.dark-mode .form-check .form-check-input{
    --bs-form-check-bg: #f0f8ff45;
    border: transparent;
}

.dark-mode .form-control option{
    background: #363a54!important;
    color: #d6d5df!important;
}

.dark-mode .filter-label, .dark-mode  label{
    color: #d6d5df!important;
}

.dark-mode .table{
    --bs-table-color: #d6d5df!important;
    --bs-table-border-color: #dee2e642!important;
}

.dark-mode input::placeholder {
    color: #a7a7af;
    opacity: 1; /* Firefox */
}

.dark-mode input::-ms-input-placeholder { /* Edge 12 -18 */
    color: #a7a7af;
}

.dark-mode .hover-purple-text {
    color: #a7a7af;
}

.dark-mode .log-record {
    color: #e3e3e8;
}

.dark-mode .log-date, .dark-mode .log-time {
    background-color: rgb(235 236 236 / 17%);
    box-shadow: none;
}

.dark-mode .log-env {
    background-color: rgb(17 77 136 / 82%);
    box-shadow: none;
}

.dark-mode .log-level {
    box-shadow: none;
}

.dark-mode .level-emergency .log-level {
    background-color: rgb(121 42 216 / 66%);
}

.dark-mode .level-error .log-level {
    background-color: rgb(161 35 35 / 76%);
}

.dark-mode .level-warning .log-level {
    background-color: rgb(181 140 36 / 65%);
}

.dark-mode .level-info .log-level {
    background-color: rgb(27 140 175 / 74%);
}

.dark-mode .level-notice .log-level {
    background-color: rgb(22 150 86 / 72%);
}

.dark-mode .level-alert .log-level {
    background-color: rgb(175 34 109 / 76%);
}

.dark-mode .level-debug .log-level {
    background-color: rgb(72 102 200 / 76%);
}

.dark-mode .level-critical .log-level {
    background-color: rgb(189 98 58 / 74%);
}

.dark-mode .stacktrace-row {
    background: #00000073;
    font-weight: normal;
}

.dark-mode .log-stacktrace h6, .dark-mode .log-context h6 {
    color: #b2b2b2;
}

.dark-mode .log-message {
    font-weight: normal;
}

.dark-mode .modal-content {
    background-color: #282c3b !important;
    color: white;
}

.dark-mode .btn{
    background: #ffffff2e;
}

.dark-mode .btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}

.dark-mode #filtersModal {
    font-weight: 500 !important;
}


.dark-mode #filtersModal button {
    font-weight: 500 !important;
}

.dark-mode .modal-title {
    font-weight: 500 !important;
}

.dark-mode .log-raw-context {
    color: #b2b2b2;
}

.dark-mode table.table {
    border-color: #818181;
}
