@font-face {
    font-family: "Fira Code";
    src: url("/fonts/log_viewer/FiraCode-Regular.ttf");
}

p,h1,h2,h3,h4,h5,h6,span,th,td,label,input,button,div{
    font-family: 'Fira Code', sans-serif;
}

body{
    background: rgb(139 153 201 / 12%);
}

.hover-turquoise-text{
    transition: 1s;
    cursor: default;
}

.hover-turquoise-text:hover{
    color: #419295 !important;
}

.list-header, .resource-header{
    margin: 10px 0;
    background: white;
    box-shadow: 1px 1px 8px 0 #796b737a;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    padding: 10px 30px;
}

.list-header h2, .resource-header h2{
    font-size: 26px!important;
}

.btn{
    box-shadow: 1px 1px 8px 0 #796b737a;
    height: 38px;
    border-radius: 10px;
    background-color: rgb(84 96 113 / 59%);;
}

.btn.btn-circle{
    width: 38px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.editable-row .form-check-input{
    margin-top: 10px;
}

.editable-list-btn{
    display: none;
}

.edited .editable-list-btn{
    display: inline-block!important;
}

.edited{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgb(117 65 149 / 32%) 50%, rgba(255,255,255,0) 100%);
}

.edited td{
    background: none;
}

.btn:hover{
    color: white;
    background: #419295 !important;
}

.table td,.table th{
    line-height: 40px;
}

.form-check-input:checked{
    background-color: #754195;
    border-color: #754195;
}

.form-control {
    border-radius: 10px;
}

.form-check-input{
    cursor: pointer;
}

select{
    cursor: pointer;
}

.nav-link{
    border-radius: 5px!important;
    display: flex;
    align-items: flex-start;
    line-height: 30px;
    font-size: 12px;
    padding: 3px 13px;
}

.nav-link:not(.theme-switcher){
    background-color: #5f5f5f30 !important;
}

.nav-link svg{
    height: 18px;
    margin: 5px 7px 0 0;
}

.nav-link.active, .nav-link:hover{
    background-color: rgba(95, 95, 95, 0.4) !important;
}

@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1520px;
    }
}

.table {
    --bs-table-bg: transparent;
}

.theme-switcher:not(:hover){
    color: #ffffff52!important;
}

.auth-page:not(.dark-mode) .theme-switcher:not(:hover){
    color: rgba(0, 0, 0, 0.45) !important;
}

.theme-switcher .hover-text{
    opacity: 0;
    transition: 0.2s;
}

.theme-switcher:hover .hover-text{
    opacity: 1;
}

.log-viewer-sidebar {
    width: 300px;
    z-index: 1;
}

.log-viewer-sidebar .adminix-menu-item i{
    transition: 0.3s;
}

.links-list {
    overflow-y: scroll;
    overflow-x: hidden;
}

.links-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.links-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.links-list .adminix-menu-item {
    display: block;
    width: 100%;
}

.nowrap {
    white-space: nowrap;
}

.log-record {
    cursor: pointer;
    display: block;
    background-color: rgb(84 96 113 / 38%);
    border-radius: 10px;
    font-size: 14px;
    padding: 8px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 0;
    max-height: 42px;
    transition: max-height 1s ease-in-out;
    overflow: hidden;
    position: relative;
}

.log-record.active{
    max-height: 4000px;
    transition: max-height 2s ease-in-out;
    white-space: normal;
    cursor: auto;
}

.log-message {
    font-weight: bold;
}

.log-date, .log-time {
    display: inline-block;
    background-color: rgb(235 236 236 / 77%);
    border-radius: 3px;
    padding: 2px 4px;
    box-shadow: 1px 1px 5px 1px #8080806b;
}

.log-env {
    display: inline-block;
    background-color: rgba(17, 77, 136, 0.21);
    border-radius: 3px;
    padding: 2px 4px;
    box-shadow: 1px 1px 5px 1px #8080806b;
}

.log-level {
    display: inline-block;
    background-color: rgba(136, 53, 17, 0.21);
    border-radius: 3px;
    padding: 2px 4px;
    box-shadow: 1px 1px 5px 1px #8080806b;
}

.level-error .log-level {
    background-color: rgb(255 38 38 / 43%);
}

.level-warning .log-level {
    background-color: rgb(243 189 53 / 62%);
}

.level-info .log-level {
    background-color: rgb(21 143 181 / 66%);
}

.level-notice .log-level {
    background-color: rgb(28 157 93 / 56%);
}

.level-alert .log-level {
    background-color: rgb(203 66 139 / 58%);
}

.level-debug .log-level {
    background-color: rgb(99 126 215 / 63%);
}

.level-emergency .log-level {
    background-color: rgb(126 92 167 / 66%);
}

.level-critical .log-level {
    background-color: rgb(255 111 48 / 69%);
}

.log-message {
    display: inline;
}

.log-stacktrace, .log-context {
    display: none;
}

.active .log-stacktrace, .active .log-context {
    display: block;
}

.log-stacktrace h6, .log-context h6 {
    color: #6f6f6f;
    margin: 10px;
}
.stacktrace-row {
    display: block;
    background: #efefefcc;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 4px 0;
    font-weight: bold;
}

.log-context table {
    min-width: 40%;
}

.log-context table td{
    line-height: 20px;
    padding: 5px 15px;
    font-weight: bold;
}

.switcher-btn{
    font-size: 16px;
}

.switcher-btn i{
    font-size: 20px;
}

.sidebar-btn{
    display: inline-block;
    border-radius: 5px !important;
    line-height: 36px;
    padding: 3px 13px;
    background-color: #5f5f5f30 !important;
    font-size: 14px;
    cursor: pointer;
    width: 48%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebar-btn:hover {
    background-color: rgba(95, 95, 95, 0.4) !important;
}

.sidebar-btn i {
    font-size: 22px;
    line-height: 28px;
    vertical-align: middle;
}

input, select {
    background-color: rgb(84 96 113 / 38%) !important;
    border: 0 !important;
}

.form-control:focus{
    border-color: rgb(222, 226, 230) !important;
    box-shadow: none !important;
}

.form-control[type=date]{
    width: 155px;
}

.form-control[type=time]{
    width: 110px;
}

.check-block{
    display: inline-block;
}

.check-block input {
    vertical-align: middle !important;
}

.check-block label {
    vertical-align: middle !important;
}

#filtersModal {
    font-weight: 600 !important;
}

#filtersModal button {
    font-weight: 600 !important;
}

.modal-title {
    font-weight: 600 !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 .25rem rgba(13, 253, 233, 0.25);
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-raw-context {
    display: inline;
    color: #6f6f6f;

}

.active .log-raw-context {
    overflow-wrap: break-word;
}

.log-record .highlight{
    border: 2px solid #ff111175;
    border-radius: 6px;
    padding: 0 4px;
    background-color: #ff3e3e17;
}

.collapse-bottom-btn {
    margin-top: 20px;
    height: 30px;
    background-color: #7373732b;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.collapse-top-btn {
    background-color: #7373732b;
    height: 34px;
    width: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.collapse-bottom-btn:hover,
.collapse-top-btn:hover {
    background-color: #73737359;
}

.log-record:not(.active) .collapse-top-btn,
.log-record:not(.active) .collapse-bottom-btn {
    display: none;
}

.lang-settings {
    width: auto;
    display: flex;
    flex-direction: row;
    line-height: 35px;
}

.lang-settings select {
    display: inline-block;
    width: auto;
    margin-right: 15px;
}
